<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Send order</title>
    <style>
      body {
        background: #f4f5f7;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }
      img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
      }
    </style>
  </head>
  <body
    leftmargin="0"
    marginwidth="0"
    topmargin="0"
    marginheight="0"
    offset="0"
    bgcolor="#F4F5F7"
    style="background: #f4f5f7"
  >
    <table
      align="center"
      valign="top"
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      bgcolor="#F4F5F7"
      style="padding: 0; margin: 0; width: 100%; background: #f4f5f7"
    >
      <tr>
        <td height="30" style="height: 30px">&nbsp;</td>
      </tr>
      <tr>
        <td height="20" style="height: 20px">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <table
            align="center"
            valign="top"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="600"
            bgcolor="#ffffff"
            style="max-width: 600px; background: #ffffff"
          >
            <tr>
              <td
                height="70"
                style="
                  height: 70px;
                  background-color: #078FCD;
                  background-image: linear-gradient(-45deg, #078FCD, #078FCD);
                "
              >
                <table valign="top" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="40" style="width: 40px">&nbsp;</td>
                    <td width="520" style="width: 520px" align="left">
                      <img
                        src="https://res.cloudinary.com/dtvkcebis/image/upload/v1672213518/LogoDelisha.18.02_suhfr4.jpg"
                        alt="Delisha"
                        style="border: none; display: block; width: 180px"
                        width="180"
                      />
                    </td>
                    <td width="40" style="width: 40px">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="50" style="height: 50px">&nbsp;</td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="480"
                  style="max-width: 480px; background: #ffffff"
                >
                  <tr>
                    <td>
                      <h1
                        style="
                          font-family: Arial, Helvetica;
                          font-size: 24px;
                          color: #010e28;
                          margin: 0;
                          margin-bottom: 10px;
                          padding: 0;
                          line-height: 30px;
                        "
                      >
                        Hello, {{username}}
                      </h1>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p
                        style="
                        width: 100%;
                          font-family: Arial, Helvetica;
                          font-size: 18px;
                          color: #6a767c;
                          margin: 0;
                          padding: 0;
                          line-height: 30px;
                        "
                      >
                        Your order is already send by ours! Please wait until your packaged arrived at home.
                      </p>
                      
                    </td>
                  </tr>
                  <tr>
                    <td height="30" style="height: 30px; line-height: 0 ; text-align: center; 
                    vertical-align: middle;">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{shopediaLink}}" style="text-decoration: none">
                        <div
                        style="
                          width: 100%;
                          padding: 8px;
                          font-weight: bold;
                          border-radius: 10px;
                          border: 1px solid #078FCD;
                          background-color: #078FCD;
                          color: white;
                          text-align: center;
                          height: 35px;
                          line-height: 35px;
                            ">
                        Go to Website
                      </div>   
                    </a>
                  </td>
                  </tr>
                  <tr>
                    <td height="30" style="height: 30px; line-height: 0">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p
                        style="
                          font-family: Arial, Helvetica;
                          font-size: 12px;
                          color: #6a767c;
                          margin: 0;
                          margin-bottom: 10px;
                          padding: 0;
                          line-height: 20px;
                          text-align: left;
                        "
                      >
                        If you want order again, you can click the button to go direcly to our website
                      </p>
                    </td>
                  </tr>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="50" style="height: 50px">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="40">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>