<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Payment Approved</title>
    <style>
      body {
        background: #f4f5f7;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }
      img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
      }
    </style>
  </head>
  <body
    leftmargin="0"
    marginwidth="0"
    topmargin="0"
    marginheight="0"
    offset="0"
    bgcolor="#F4F5F7"
    style="background: #f4f5f7"
  >
    <table
      align="center"
      valign="top"
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      bgcolor="#F4F5F7"
      style="padding: 0; margin: 0; width: 100%; background: #f4f5f7"
    >
      <tr>
        <td height="30" style="height: 30px">&nbsp;</td>
      </tr>
      <tr>
        <td height="20" style="height: 20px">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <table
            align="center"
            valign="top"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="600"
            bgcolor="#ffffff"
            style="max-width: 600px; background: #ffffff"
          >
            <tr>
              <td
                height="70"
                style="
                  height: 70px;
                  background-color: #078FCD;
                  background-image: linear-gradient(-45deg, #078FCD, #078FCD);
                "
              >
                <table valign="top" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="40" style="width: 40px">&nbsp;</td>
                    <td width="520" style="width: 520px" align="left">
                      <img
                      src="https://res.cloudinary.com/dtvkcebis/image/upload/v1672213518/LogoDelisha.18.02_suhfr4.jpg"
                      alt="Delisha"
                        style="border: none; display: block; width: 180px"
                        width="180"
                      />
                    </td>
                    <td width="40" style="width: 40px">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="50" style="height: 50px">&nbsp;</td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="480"
                  style="max-width: 480px; background: #ffffff"
                >
                  <tr>
                    <td>
                      <h1
                        style="
                          font-family: Arial, Helvetica;
                          font-size: 24px;
                          color: #010e28;
                          margin: 0;
                          margin-bottom: 10px;
                          padding: 0;
                          line-height: 30px;
                        "
                      >
                        Your payment is approved !
                      </h1>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p
                        style="
                          font-size: 18px;
                          color: #6a767c;
                          margin: 0;
                          padding: 0;
                          line-height: 30px;
                        "
                      >
                        Hello, {{username}}
                      </p>
                      <p
                        style="
                          font-size: 18px;
                          color: #6a767c;
                          margin: 0;
                          padding: 0;
                          line-height: 30px;
                        "
                      >
                        Thank you, this is your payment details
                      </p>
                      
                    </td>
                  </tr>
                  <tr>
                    <td height="30" style="height: 30px; line-height: 0">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>Total </td>
                    <td style="color: #078FCD; font-weight: bold">Rp {{totalBill}}</td>
                  </tr>
                  <tr>
                    <td>Payment Method</td>
                    <td style="color: rgba(49, 53, 59, 0.96); font-weight: bold">
                      {{paymentMethod}}
                    </td>
                  </tr>
                  <tr>
                    <td>Payment Date</td>
                    <td style="color: rgba(49, 53, 59, 0.96); font-weight: bold">
                      {{dateAndTime}}
                    </td>
                  </tr>
                </table>
                <div style="margin-top: 50px; gap: 20px; display: flex">
                  <a
                  href="{{Link}}"
                  style="text-decoration: none; width: 48%; margin-left: 2%"
                >
                  <div
                    style="
                      padding: 15px 10px;
                      border-radius: 10px;
                      border: 1px solid #078FCD;
                      background-color: #078FCD;
                      color: white;
                      font-weight: bold;
                      text-align: center;
                    "
                  >
                    Shop Again
                  </div>
                </a>
                  <a
                    href="{{transactionListLink}}"
                    style="text-decoration: none; width: 49%"
                  >
                    <div
                      style="
                        padding: 15px 10px;
                        border-radius: 10px;
                        border: 1px solid #078FCD;
                        background-color: white;
                        color: #078FCD;
                        font-weight: bold;
                        text-align: center;
                      "
                    >
                      View Transaction List
                    </div>
                  </a>
                  </div>
                </table>
              </td>
            </tr>
            <tr>
              <td height="50" style="height: 50px">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="40">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
